* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}
#res_btn {
	float: right;
	display: none;
}
#navbar {
	float: right;
	padding-top: 18px;
	position: relative;
	left: -85px;
}
#navbar a {
	float: left;
	padding: 8px 10px;
	text-decoration: none;
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
}
#navbar .home {
	color: #00cccc;
}
#logo {
	position: absolute;
	left: 78px;
	padding-top: 18px;
	z-index: 1;
}
#logo img {
	width: 30px;
}
#develop img {
	max-width: 100%;
	margin-top: -4%;
}
#develop {
	float: right;
}
.header1 {
	margin: -46% 0% 0% 61%;
}
.header1 h1 {
	font-family: Verdana, Geneva, sans-serif;
	margin-left: -1.5%;
}
.header1 p {
	text-align: justify;
	font-family: Arial;
	line-height: 23px;
}
.contact {
	background-color: #00cccc;
	border: none;
	padding: 13px 25px;
	font-size: 10px;
	font-weight: bold;
	color:  #ffffff;
	margin-top: 3.5%;
}
.contact:hover {
	opacity: 0.7;
	cursor: pointer;
	color: #000000;
}
/*==End of Header==*/
#about {
	text-align: center;
	background-color: #ffffff;
	padding: 45px 0px 30px 0px;
	margin-top: 56%;
}
#about h1 {
	font-family: Verdana, Geneva, sans-serif;
}
#about p {
	font-family: Arial;
}
/*==End of AboutUs==*/
#professional2 {
	display: none;
}
#professional {
	background-color: #f2f2f2;
	padding-bottom: 125px;
}
#progressivebar {
	width: 41%;
	margin-top: -25%;
	margin-left: 4%;
}
#progressivebar h1 {
	font-family: Verdana, Geneva, sans-serif;
}
#progressivebar p {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
.percent {
	margin-left: 2%;
}
.progcontainer {
	background-color: #8c8c8c;
	width: 100%;
}
.uxdesign {
	width: 75%;
	height: 5px;
	background-color: #00cccc;
}
.webdev {
	width: 90%;
	height: 5px;
	background-color: #00cccc;
}
.market {
	width: 65%;
	height: 5px;
	background-color: #00cccc;

}
#professional img {
	height: 415px;
	width: 49%;
	margin-left: 49%;
	border-radius: 50%;
}
/*==End of Professional==*/
#stats {
	background-color: #00cccc;
	padding: 80px 0px 80px 10px;
}
#stats i {
	color: #ffffff;
	font-size: 45px;
	font-weight: 90px;
}
#stats .statscontainer {
	display: inline-block;
	margin-left: 4%;
	padding-right: 35px;
}
#stats .statscontainer .statsdetails {
	margin-left: 70px;
	margin-bottom: -52px;
	line-height: 12px;
}
.statsdetails h2 {
	font-size: 15px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #ffffff;
}
.statsdetails p {
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: lighter;
	color: #ffffff;
}
/*==End of Stats==*/
#products2 {
	display: none;
}
#products {
	margin-top: 4px;
}
#products .productsinside {
	display: inline-block;
	margin: -4px -4px 0px 0px;
    width: 338px;
    -webkit-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-ms-transition: all .2s linear;
  	-kthtml-transition: all .2s linear;
 	transition: all .2s linear;
}
#products .productsinside:hover {
	box-shadow: 0px 0px 3px 3px #999999;
	opacity: 0.9;
}
.product6 {
	opacity: 0.2;
	z-index: 0;
	max-height: 282px;
}
.eyeicon {
		display: none;
	}
.vleye {
	width: 90px;
	z-index: 1;
	position: relative;
	margin-top: -90%;
	margin-bottom: 38%;
	margin-left: 35%;
}
.loadmore {
	background-color: #f2f2f2;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	opacity: 0.6;
	padding: 12px 12px;
}
.loadmore p:hover {
	opacity: 0.5;
	cursor: pointer;
}
/*==End of Products==*/
#workprocess {
	padding: 50px 0px 250px 0px;
}
#workprocess h1 {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}
#workprocess p {
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	opacity: 0.7;
	padding: 0px 0px 40px 0px;
}
#workprocess .videobanner {
	text-align: center;
}
#workprocess .videobanner img {
	opacity: 0.3;
	max-width: 81%;
	z-index: 0
}
.play i {
	font-size: 145px;
	color: #00b3b3;
}
#workprocess .play {
	z-index: 1;
	margin-left: 46%;
	margin-top: -23%;
}

/*==End of Workprocess==*/
#icons {
	text-align: center;
	background-color: #f2f2f2;
	padding: 21px 0px 40px 0px;
}
.iconinside .icondetails {
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	margin-left: 30px;
}
.icondetails img {
	opacity: 0.7;
}
.icondetails h1 {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	opacity: 0.9;
}
.icondetails p {
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	opacity: 0.6;
}
/*==End of Icons==*/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 2%;
  padding-top: 5%;
  background-color: #00cccc;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47.5%;
  width: auto;
  padding: 13px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotcontainer {
  position: relative;
  margin-top: 3%;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slidecontent {
  background-color: #00cccc;
  font-family: Verdana, Geneva, sans-serif;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 200px;
}
.slidecontent h4 {
  font-size: 11px;
}
.slidecontent p {
  font-size: 19px;
}
/*==END OF QOUTES==*/
#moredesigns {
	background-color: #ffffff;
	padding-bottom: 3.5%;
}
.design1 {
	margin-top: 5%;
	margin-left: 5%;
}

.design2 {
	margin-left: 62%;
	margin-top: -9.8%;
}
/*==End of Moredesigns==*/
#needproject2 {
	display: none;
}
#needproject {
	text-align: center;
	background-color: #e6e6e6;
	padding: 40px 0px 69px 0px;
}
[title~=top] {
	padding: 10px 75px 10px 15px;
	border: none;
}
[name="youremail"] {
	margin-left: 1.5%;
}
[name="yourtitle"] {
	padding: 10px 361px 10px 15px;
	margin-left: -1px;
	border: none;
}
[placeholder="Your Comment"] {
	resize: none;
	padding: 10px 375px 85px 15px;
	border: none;
}
#needproject h1 {
	font-family: Verdana, Geneva, sans-serif;
}
#needproject p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	padding-bottom: 15px;
}
[type="submit"] {
	background-color: #00cccc;
	border: none;
	padding: 12px 12px;
	color: #ffffff;
	margin-top: 1.5%;
}
[type="submit"]:hover {
	cursor: pointer;
	opacity: 0.7;
}
/*==End of Needproject==*/
#pirolldesign2 {
	display: none;
}
#pirolldesign {
	background-color: #000000;
	padding: 12px 0px 75px 10px;
}
.piroll {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 7%;
	margin-left: 6%;
	opacity: 0.7;
}
.piroll h1 {
	font-size: 19px;
}
.piroll p {
	font-size: 15px;
}
.emailcontact {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 35%;
	margin-top: -6.3%;
	opacity: 0.7;
}
.emailcontact h2 {
	font-size: 17px;
}
.emailcontact h3{
	font-size: 15px;
}
.projects {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 59%;
	margin-top: -5.1%;
	opacity: 0.7;
}
.news {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 69%;
	margin-top: -6.8%;
	opacity: 0.7;
}
.facebook {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 85%;
	margin-top: -6.6%;
	opacity: 0.7;
}
/*==End of Footer==*/